* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@import "icons.scss";
@import "nullcss.scss";

$fontFamily: "Roboto";
$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1366;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: FFFFFF;
$blackColor: 1b1a17;
$footerColor: 444240;
$orangeColor: 444240;

body {
    background-color: $mainColor;
    width: $maxWidth;
}

.__container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}


//Burger
//.icon-menu {
//    display: none;
//    @media (max-width: $md3+px) {
//        display: block;
//        position: absolute;
//        top: 18px;
//        right: 10px;
//        width: 30px;
//        height: 18px;
//        cursor: pointer;
//        z-index: 5;
//        span {
//            transition: all 0.3s ease 0s;
//            top: call(50% - 1px);
//            left: 0px;
//            position: absolute;
//            width: 100%;
//            height: 2px;
//            background-color: #000;
//            &:first-child {
//                top: 0px;
//            }
//            &:last-child {
//                top: auto;
//                bottom: 0px;
//            }
//        }
//        &:_active {
//            span{
//                transform: scale();
//                &:first-child {
//                    transform: rotate(-45deg);
//                    top: call(50% - 1px);
//                }
//                &:last-child {
//                    transform: rotate(45deg);
//                    bottom: call(50% - 1px);
//                }
//            }
//        }
//    }
//}
